<header>
  <div style="background-color:blue;width:100%;">
    <nav class="navbar" role="navigation">
        <div class="navbar__left">
            <a href="/">

  <div style="background-color:blue;width:100%;">
<pre role="none" id="logoshadow" style="z-index=-1;position:absolute;">

     ░  ░░ ░░ ░░░░ ░░░
     ░  ░░ ░░ ░░░░░░░░
     ░░░░░░░░░░░░░░ ░░
     ░░░░░░░░░░░░░
</pre>
    <pre id="logo" role="img" aria-label="an ascii logo that spells out 'ioletsgo.gay'">
     ▄ ▄▄▐▌▄▄▄▄▄▄ ▄ ▄▄
     ▄▐ █▐▌█▄ ▌█▄▐ ▌▌▐
blog.█▐▄█▐▌█▄ ▌▄█ ▀▌▌▐
     ▄▄        ▄▄▄▀ ▀▀.GAY
       ▀▀▀▀▀▀▀▀
</pre>
            </a>
        </div>

    </nav>
</header>


<header>


</div>
</header>
<hr>
<div id="main">
<center>
            <a href="/posts">Posts</a>
            <a href="/tags">Tags</a>
</center>
<hr>
