@font-face {
   font-family:ibmbios;
   src: url(fonts/ibmbios.woff) format('woff');
/*   src: url(fonts/ibmbios.ttf) format('ttf')*/
}

* {
   display:block;
   font-family:ibmbios;
}

body {
   line-height:1;
   max-width:100%;
/*     width:100%; */
/*     margin: 0 auto; */
    background-color:black;
    color:white;
   font-size:calc(0.25vh + 16px);
}
a {
	text-decoration: none;
    color:white;
}
hr {
   color:white;
  border: none;
    border-top-style:dashed;
    border-width: 5px;
}
p {
    text-indent:50px;
}
#logo {
z-index:2;
margin-left:15%;
}
#logoshadow{
    opacity: 0.7;
    position:absolute;
    left:15%;
    top:0%;
}
