@font-face {
   font-family:ibmbios;
   src: url(fonts/ibmbios.woff) format('woff');
/*   src: url(fonts/ibmbios.ttf) format('ttf')*/
}
* {
   font-family:ibmbios;
/*     font-size:95%; */
    font-smooth: never;
    -webkit-font-smoothing: none;
}
img {
    margin-left:auto;
    width: 100%;
}
time {
    color:blue;
}
h1 {
    padding-left:1%;
    padding-right:1%;
    font-size:150%;
    border-bottom-style:dashed;
    border-width: 5px;
    img {
        display:block;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }
}
h2 {
    padding:2%;
    font-size:120%;
    border-top-style:dashed;
    border-bottom-style:none;
    border-width: 5px;
    padding-bottom:0;
}
h3 {
    img {
        width:100%;
        display:block;
        margin:auto;
    }
    text-align:center;
}
body {
    background-color:black;
    color:white;
   font-size:calc(0.25vh + 16px);
}
a {
	text-decoration: none;
    color:yellow;
}
pre {
    line-height:0.9;
    font-size:60%;

}
hr {
  color:white;
  border: none;
    border-top-style:dashed;
    border-width: 5px;
}
p {
    padding-left:1%;
    text-indent:50px;
    line-height:1.1;
    img {width:45%; margin-left:auto;margin-right:auto;}
}
#logo {
color:white;
z-index:2;
margin-left:15%;
}
#logoshadow{
color:white;
    opacity: 0.7;
    position:absolute;
    left:15%;
    top:0%;
}
#socials{
      z-index:0;
      position:absolute;
      top:25px;
      width:90%;
      text-align:right;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
}


#friends {
    border-style:dashed;
    border-width: 5px;
    top:2%;
    left:5%;
    position:relative;
    width:40vh;
    height:40%;
    background-color:white;
    color:black;
}
#main {
    border-style:dashed;
    border-width: 5px;
/*     left:25vw; */
    top:17%;
    position:relative;
/*     height: 60%; */
    width:calc(50% + 160px);
    margin: auto;
    background-color:black;
    color:white;

}
.banner {
    width:90%;
}
